<div class="container-fluid">    
    <div class="row">
        
            <div class="title">
                <h3 class="title-heading" align="center">
                    Terms And Conditions
                </h3>
            </div>
        
    </div>
    <div class="container px-5 pb-5" style="justify-content: center;" >
        <p>
            <b>In the modern era of digitalization, hotel management systems have become an integral part of the hospitality industry. These systems facilitate the efficient operation of hotels, ensuring smooth guest experiences and streamlined back-end processes. To use a hotel management system effectively, it is crucial for both the hotel and its customers to understand and agree to certain terms and conditions. In this document, we will explore the key terms and conditions that govern the use of a hotel management system.</b>
    <p>
        <ol>
            <li>
              <strong>General Terms</strong>
              <p>
                * GuestGuru is a platform that allows users to search, view, and book hotel accommodations.
              <br>
                * You must be at least 18 years old or have the legal capacity to enter into agreements to use our services.
              <br>
                *  Your use of GuestGuru is subject to our Privacy Policy, which outlines how we collect, use, and protect your personal information.
              </p>
            </li>
        
            <li>
              <strong>Hotel Bookings</strong>
              <p>
                *  Provides hotel information, including room availability, pricing, and amenities. However, we do not guarantee the accuracy of this information.
              <br>
                * Hotel reservations made through GuestGuru are subject to the terms and conditions of the respective hotels.
              <br>
                * Cancellation and refund policies vary by hotel. It is your responsibility to review and understand the hotel's cancellation policy before making a reservation.
              </p>
            </li>
        
            <li>
              <strong>User Responsibilities</strong>
              <p>
                * You agree to provide accurate and up-to-date information when using our website, including during the booking process.
              <br>
                * You are responsible for maintaining the confidentiality of your account login information and for all activities that occur under your account.
              <br>
                * You agree not to use GuestGuru for any unlawful or unauthorized purposes.
              </p>
            </li>
        
            <li>
              <strong>Payment and Billing</strong>
              <p>
                * Payment for hotel reservations is processed through secure payment gateways. By making a reservation, you agree to pay the total amount specified in the booking.
              <br>
                * Prices may vary based on room availability, dates, and other factors. You will be informed of the total cost before confirming your booking.
              <br>
                * GuestGuru may charge booking fees or service fees. These fees will be clearly displayed before you finalize your booking.
              </p>
            </li>
        
            <li>
              <strong>Changes and Cancellations</strong>
              <p>
                * If you need to modify or cancel your reservation, please refer to the hotel's cancellation policy as GuestGuru is not responsible for any fees or penalties.
              </p>
            </li>
        
            <li>
              <strong>Disclaimers</strong>
              <p>
                * GuestGuru is not liable for any disputes between users and hotels. We act as an intermediary platform and do not own or operate any hotels.
              <br>
                * While we strive to provide accurate information, we do not guarantee the availability of specific rooms or prices. Hotel availability and prices can change.
              </p>
            </li>
        
            <li>
              <strong>Limitation of Liability</strong>
              <p>
                * GuestGuru is not responsible for any direct, indirect, incidental, special, or consequential damages resulting from your use of our services.
              </p>
            </li>
        
            
        
            <li>
              <strong>Changes to Terms</strong>
              <p>
                * GuestGuru reserves the right to update or modify these terms and conditions at any time. Please review them periodically.
              </p>
            </li>
          </ol>
        
        
  
    </div>