
<div class="container-fluid bg-image" id="dashboardlink"  style="background-image: url('../../../../assets/p2.jpg'); height: 100vh;">
    <div class="container  ">
        <div class="pt-3">
            <div class="pt-4 px-3">
                <div class="row px-5">
                
                <div class="content">
                    <div class="row m-2">
                        <div class="col-10 pt-5">
                            <div class="row">
                                <div class="col-1">
                                    <h1><span style="padding-bottom: 10px;" ><i class="fa-solid fa-quote-left fa-lg"></i></span></h1>
                                </div>
                                <div class="col-11">
                                    <h1 class="display-4">Welcome To Admin Panel...</h1>  
                                </div>
                            </div>
                            
                           
                        </div>
                    </div>
                    <div class="row m-2">
                        <div class="col-7 ">
                           <p>
                                In this panel, <strong>Admin</strong> can control several things. You can see in the top left corner, we have created a side nav-bar so that the admin can control all these functions. This includes the ability to view and update all the registered <strong>customer's</strong> details, view and update all the registered <strong>Hotel Admin's</strong> details. Additionally, <strong>Admin</strong> has the authority to approve pending hotel statuses. The Admin can also add hotel rooms, <strong>Categories & Services</strong>. We have created only a single Admin, so based on this, the Admin has the login and logout features only...
                           </p>
                        </div>
                    </div>
                </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>