<div class="container-fluid py-5" id="aboutlink">    
        <div class="row">
            <div class="col">
                <div class="title">
                    <h2 class="title-heading">
                        About Us
                    </h2>
                </div>
            </div>
        </div>

    <div class="container">
        <div class="row">
            <div class="col-6 ">
                <div class="row pt-2 pb-4 pr-2">
                    <div class="about-us">
                        <div class="about-us-heading">
                            <h3>Your Trusted Partner in Hotel Booking</h3>
                           
                        </div>
                        <div class="about-us-description">
                            <p>
                                -Welcome to Guest Guru, your trusted companion in the world of online hotel booking. We understand that travel is an essential part of life, whether for business or leisure, and finding the perfect place to stay is crucial for a memorable journey. At Guest Guru, we are committed to making your travel experience exceptional by offering a seamless and hassle-free hotel booking process.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row pt-5 pr-3">
                    <div class="about-us">
                        <div class="about-us-heading">
                            <h3>Our Vision and Mission</h3>
                        </div>
                        <div class="about-us-description">
                            <p>
                                -Guest Guru was founded with a clear vision - to revolutionize the way people book hotels online. Our mission is to provide travelers with a platform that offers a wide range of hotel options, competitive prices, and unparalleled convenience. We believe in simplifying the travel experience and making it accessible to everyone, no matter where your adventures take you.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-5 ">
                <div class="about-image">
                    <img src="../../../../assets/24954084.jpeg" alt="Image Not found" width="650px" height="550px">
                </div>
            </div>
        </div>
    </div>
</div>
