<div class="container-fluid ">
    <div class="">
      <div class="container my-5 px-4 bg-light w-50 border rounded py-5" id="box">
        <h2 align="center">Hotel Admin Registration</h2>
        <form #hoteladminForm="ngForm" (ngSubmit)="onSubmit(hoteladminForm)">
          <div class="mb-3">
            <label for="hoteladminname" class="form-label">Name</label>
            <input type="text" id="hoteladminname" class="form-control" name="hoteladminname"
              [(ngModel)]="hoteladmin.hoteladminname" minlength="3" required>
            <div *ngIf="hoteladminForm.controls['hoteladminname'].errors?.['minlength'] && hoteladminForm.controls['hoteladminname'].touched"
              class="error-message-minlength">
              *please enter at least 3 characters
            </div>
            <div *ngIf="hoteladminForm.controls['hoteladminname'].errors?.['required'] && hoteladminForm.controls['hoteladminname'].touched"
              class="error-message-required">
              *please enter full name
            </div>
          </div>
  
          <div class="mb-3">
            <label for="hoteladminemail" class="form-label">Email</label>
            <input type="email" id="hoteladminemail" class="form-control" name="hoteladminemail"
              [(ngModel)]="hoteladmin.hoteladminemail" required email pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9-]+\.[a-zA-Z.]{2,5}">
            <div *ngIf="hoteladminForm.controls['hoteladminemail'].errors?.['required'] && hoteladminForm.controls['hoteladminemail'].touched"
              class="error-message-required">
              *please enter a valid email
            </div>
            <div *ngIf="hoteladminForm.controls['hoteladminemail'].errors?.['pattern'] && hoteladminForm.controls['hoteladminemail'].touched"
              class="error-message-pattern">
              *please enter a valid email address (e.g., example@example.com)
            </div>
          </div>
          
          <div class="mb-3">
            <label for="hoteladminphonenumber" class="form-label">Phone Number</label>
            <input type="text" id="hoteladminphonenumber" class="form-control" name="hoteladminphonenumber"
              [(ngModel)]="hoteladmin.hoteladminphonenumber" maxlength="10" pattern="^[6-9]\d{9}$" required>
            <div *ngIf="hoteladminForm.controls['hoteladminphonenumber'].errors?.['maxLength'] && hoteladminForm.controls['hoteladminphonenumber'].touched"
              class="error-message-maxlength">
              *contact number cannot be more than 10 digits
            </div>
            <div *ngIf="hoteladminForm.controls['hoteladminphonenumber'].errors?.['required'] && hoteladminForm.controls['hoteladminphonenumber'].touched"
              class="error-message-required">
              *please enter contact number
            </div>
            <div *ngIf="hoteladminForm.controls['hoteladminphonenumber'].errors?.['pattern'] && hoteladminForm.controls['hoteladminphonenumber'].touched"
              class="error-message-pattern">
              *please enter a valid contact number starting with 6, 7, 8, or 9 and having exactly 10 digits
            </div>
          </div>
          <button type="submit" class="btn btn-primary responsive-button">Save 
          </button>
        </form>
      </div>
    </div>
  </div>