<div class="container my-5 p-4 bg-light w-50 border rounded">
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Room ID</th>
            <th scope="col">Room Name</th>
     <!--       <th scope="col">Delete</th> -->
          </tr>
        </thead>
        <tbody>
          <!-- Loop through user data and display it -->
          <tr *ngFor="let room of roomservices">
            <td>{{ room.roomserviceid }}</td>
            <td>{{ room.roomservicename }}</td>
        <!--<td>
              <button class="btn btn-sm btn-danger" (click)="deleteRoom(room.roomserviceid)">Delete</button>
            </td>
          -->
          </tr>
        </tbody>
      </table>
      <div class="row">
        <button class="btn btn-sm w-25 btn-primary" (click)="addRoomService()">Add</button>
      </div>
</div>