
<div class="container-fluid bg-image" id="dashboardlink"  style="background-image: url('../../../../assets/p3.jpg'); height: 100vh;">
    <div class="container  ">
        <div class="pt-3">
            <div class="pt-4 px-3">
                <div class="row px-5">
                
                <div class="content">
                    <div class="row m-2">
                        <div class="col-10 pt-5">
                            <div class="row">
                                <div class="col-1">
                                    <h1><span style="padding-bottom: 10px;" ><i class="fa-solid fa-quote-left fa-lg"></i></span></h1>
                                </div>
                                <div class="col-11">
                                    <h1 class="display-4">Welcome To Hotel Admin Panel...</h1>  
                                </div>
                            </div>
                            
                           
                        </div>
                    </div>
                    <div class="row m-2">
                        <div class="col-7 ">
                           <p>
                            In this panel, the Hotel Admin enjoys comprehensive control over various critical aspects of hotel management. Positioned conveniently in the top left corner is a side navigation bar that serves as the gateway to an array of essential functions. The Hotel Admin can begin by approving hotels submitted for consideration, evaluating details, and making approval decisions. Furthermore, the admin has the capability to update hotel information, ensuring that it remains current and accurate. Room management is another key feature, allowing the addition of new room details and updates to existing ones. Access to room booking data provides insights into room occupancy and availability. Lastly, a secure login and logout system ensures the confidentiality of sensitive information, facilitating seamless admin access and management of hotel operations....
                           </p>
                        </div>
                    </div>
                </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>