
    <div class="container-fluid bg-image" id="dashboardlink"  style="background-image: url('../../../../assets/dashboard.jpg'); height: 100vh;">
        <div class="container  ">
            <div class="pt-3">
                <div class="pt-4 px-3">
                    <div class="row px-5">
                    
                    
                        <div class="row m-2">
                            <div class="col-10 pt-5">
                                <h1 class="display-4">NICE AND COMFORTABLE PLACE TO STAY</h1>  
                            </div>
                        </div>
                        <div class="row m-2">
                            <div class="col-7 ">
                                <h1 class="display-6">Welcome to GuestGuru...</h1>  
                            </div>
                        </div>
                        
                        <div class="row m-2" id="explore-btn">
                            <div class="col-3 ">
                                <button  class="responsive-button" routerLink="/about">Explore<span class="arrow-icon">&#10148;</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>