<div class="container-fluid py-5">
    <div class="">
      

        <!--6 total card-->
        <div class="container-fluid">    
            <div class="row">
                <div class="col">
                    <div class="title">
                        <h3 class="title-heading" align="center">
                            Manage your property with ease
                        </h3>
                    </div>
                </div>
            </div>
        
        <div class="container my-5 px-5 w-75">
            <div class="row my-2">
                <div class="col-6">
                  
        <!--1st card-->  
                    <div class="row pt-2 pb-4 pr-2">
                        <div class="row">
                        <div class="dash">
                            <div class="dash heading">
                                <div class="dashboard-image" >
                                    <img src="../../../../assets/BasicSetupEmptyState.png" width="50px" height="50px">
                                </div>
                                <h4>Quick registration</h4>
                               
                            </div>
                            <div class="dash description">
                                <p>
                                    Set up your property listing in 15 min
                                </p>
                            </div>
                        </div>
                    </div>
                 </div>
        <!--2st card-->  
                    <div class="row pt-5 pr-3">
                        <div class="row">
                        <div class="dash">
                            <div class="dash heading">
                                <div class="dashboard-image">
                                    <img src="../../../../assets/CustomerSupport.png" width="50px" height="50px">
                                </div>
                                <h4>Robust support</h4>
                            </div>
                            <div class="dash description">
                                <p>
                                    We offer customer support in 45 languages and provide partners with Pulse, our booking management app
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--3rd card-->  
                <div class="row pt-5 pr-3">
                    <div class="row">
                        <div class="dash">
                            <div class="dash heading">
                                <div class="dashboard-image">
                                    <img src="../../../../assets/ChannelManager.png" width="50px" height="50px">
                                </div>
                                <h4>Streamlined work</h4>
                            </div>
                            <div class="dash description">
                                <p>
                                   Manage your property efficiency by working with one of our 600+ tunned Connectivity providers.
                                </p>
                            </div>
                        </div>
                    </div>
                    
                
                </div>
            </div>
                
                <!--4th card-->
                <div class="col-6">
                    <div class="row pt-2 pb-4 pr-2">
                       <div class="row">
                        <div class="dash">
                            <div class="dash-heading">
                                <div class="dashboard-image" >
                                    <img src="../../../../assets/Websites.png" width="50px" height="50px">
                                </div>
                                <h4>Easy property import</h4>
                            </div>
                            <div class="dash description">
                                <p>
                                   Quickly import your property information from other travel sites
                                </p>
                            </div>
                            
                        </div>
                    </div>
                </div>
                    
                     <!--5th card-->
                    <div class="row pt-4 pr-3">
                            <div class="row">
                                <div class="dash">
                                <div class="dash heading">
                                    <div class="dashboard-image">
                                        <img src="../../../../assets/BoardChartUp.png" width="50px" height="50px">
                                    </div>
                                    <h4>Secure growth</h4>
                                </div>
                                <div class="dash description">
                                    <p>
                                        Get guaranteed payouts and fraud protection with Online Payments by booking.com
                                    </p>
                                </div>
                            </div>
                            </div>
                    </div>
                     <!--6th card-->
                    <div class="row pt-5 pr-3">
                        <div class="row">
                        <div class="dash">
                            <div class="dash heading">
                                <div class="dashboard-image">
                                    <img src="../../../../assets/Document.png" width="50px" height="50px">
                                </div>
                                <h4>Transparent commission</h4>
                            </div>
                            <div class="dash description">
                                <p>
                                    Understand what and whom you're paying with the the transparent commission
                                </p>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

          


        <!--2 total card-->
        <div class="container my-5 w-75">
            <div class="row">
                <div class="col-7 pt-5 ">
                   <div class="">
                        <div class="dashboard">
                            <div class="dashboard-heading">
                                    <h3>Your Trusted Partner in Hotel Booking</h3>
                                
                                </div>
                                <div class="pr-4 py-3">
                                    <p>
                                        -Maintain full control over your property...
                                    </p>
                                </div>
                                <button class="btn btn-primary mr-3 px-3" [routerLink]="['/hoteladminlogin']">Login</button>
                                
                                <button class="btn btn-primary mx-4 px-3" [routerLink]="['/hoteladminsignup']">Signup</button>
                            </div>
                        </div>
                    </div>
                    
                
                <div class="col-3 pt-3">
                    <img src="../../../../assets/property_full_control.png" width="auto" height="250px" style="border-radius: 4px;">
                </div>
            </div>
        </div>
        

    </div>
</div>