<div class="container mt-5 p-4 bg-light w-50 border rounded">
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Room ID</th>
            <th scope="col">Room Name</th>
            <th scope="col">Add Service</th> 
          </tr>
        </thead>
        <tbody>
          <!-- Loop through user data and display it -->
          <tr *ngFor="let room of roomservices">
            <td>{{ room.roomserviceid }}</td>
            <td>{{ room.roomservicename }}</td>
            <td>
              <button class="btn btn-sm btn-primary" (click)="addServiceToRoom(room.roomserviceid)"><i class="fa-solid fa-plus"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <button class="btn btn-sm w-25 btn-primary" routerLink="/hoteladminroomlist">Finsh</button>
      </div>
</div>