<div class="container mt-3 p-4 bg-light w-100 border rounded" id="box">
    <div *ngFor="let hotelinfo of displayedHotelDetails">
      <div class="card mb-4 hotel-card">
        <div class="row">
          <div class="col-8">
            <div class="card-body">
              <h5 class="card-title">{{ hotelinfo.hotelname }}</h5>
              <p class="card-text">
                <strong>Location:</strong> {{ hotelinfo.hotellocation }}<br>
                <strong>Status:</strong> {{ hotelinfo.hotelstatus }}<br>
                <strong>Description:</strong> {{ hotelinfo.hoteldescription }}
              </p>
              <div class="row px-3">
                <ul class="list-inline mx-3">
                  <li class="list-inline-item mx-2">
                    <i class="fas fa-wifi"></i>
                  </li>
                  <li class="list-inline-item mx-2">
                    <i class="fas fa-shower"></i>
                  </li>
                  <li class="list-inline-item mx-2">
                    <i class="fas fa-utensils"></i>
                  </li>
                  <li class="list-inline-item mx-2">
                    <i class="fas fa-concierge-bell"></i>
                  </li>
                  <li class="list-inline-item mx-2">
                    <i class="fas fa-chess-board"></i>
                  </li>
                  <li class="list-inline-item mx-2">
                    <i class="fas fa-umbrella-beach"></i>
                  </li>
                </ul>
              </div>
  
              <button class="btn btn-primary mx-3" type="button" (click)="editFunction(hotelinfo.hotelid)">
                Edit
              </button>
            
            </div>
          </div>
  
          <div class="col-4">
            <img [src]="hotelinfo.hotelimageurl" class="card-img-top" alt="Hotel Image" style="height: 291px; width: 344px;">
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
  <!-- Pagination controls -->
  <div class="form-group d-flex justify-content-center">
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-end">
        <li class="page-item" *ngIf="currentPage > 1">
          <a class="page-link" (click)="prevPage()"><span aria-hidden="true">&laquo;</span></a>
        </li>
        <li class="page-item" *ngFor="let page of getPages()" [class.active]="page === currentPage">
          <a class="page-link" (click)="setPage(page)">{{ page }}</a>
        </li>
        <li class="page-item" *ngIf="currentPage < totalPages">
          <a class="page-link" (click)="nextPage()"><span aria-hidden="true">&raquo;</span></a>
        </li>
      </ul>
    </nav>
  </div>
  